version: "3.8"

services:

  frontend:
    build:
      context: ./controlDeTareasFrontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./controlDeTareasFrontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    working_dir: /app
    command: npm start
    depends_on:
      - backend

  backend:
    build:
      context: ./controlDeTareasBackend
    volumes:
      - ./controlDeTareasBackend:/app
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/controlTareas_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=nieves@
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
    command: ./mvnw spring-boot:run
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=controlTareas_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=nieves@
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
