/* Campos */
.modal input[type="email"],
.modal input[type="password"] {
  width: 90%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.3s;
}

.modal input:focus {
  outline: none;
  border-color: #764ba2;
}

/* Botón */
.modal button {
  width: 100%;
  padding: 0.9rem;
  background-color: #764ba2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.modal button:hover {
  background-color: #5a3b8c;
}

.modal button:disabled {
  background-color: #bbb;
  cursor: not-allowed;
}

/* Error */
.error-user {
  color: red;
  margin-top: 1rem;
  font-size: 0.95rem;
}

.success-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9998;
}

.success-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: azure;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeSlideIn 0.5s ease-out forwards;
  z-index: 1000;
}

.success-modal .modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
}
 
/* Animación de entrada */
@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
